<%= form_for [:admin, @railway_station] do |f| %>
  <%= render 'common/errors', resource: @railway_station %>
  
  <div class="field">
    <%= f.text_field :title, placeholder: 'Title', class: 'input-lg' %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit', action: @railway_station.new_record? ? 'Create' : 'Edit'), class: 'btn-lg btn-info' %>
  </div>
<% end %>
