<h1>RailScanner</h1>
<h4><%= link_to "List Stations", railway_stations_path %></h4>
<h4><%= link_to "List Routes", routes_path %></h4>
<h4><%= link_to "List Trains", trains_path %></h4>
<h4><%= link_to "List Wagons", wagons_path %></h4>
