<h1>RailScanner</h1>

  <% if current_user == nil %>
    <h4><%= link_to "Search Ticket", search_path %>
  <% elsif current_user.admin? %>
    <h4><%= link_to 'Manage', admin_admin_index_path %></h4> 
  <% else %>
    <h4><%= link_to 'My Tickets', tickets_path(@ticket) %></h4>
    <h4><%= link_to "Search Ticket", search_path %>    
  <% end %>
