<div class="navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p><strong>The training project in <a href="http://www.thinknetica.com/">online-school Thinknetica</a>
      by <a href="http://www.github.com/pedrogabriel69">Gabriel Pedro</a>, 2016</strong></p>
    </div>
  </div>
</div>